{% extends "base.html" %}
{% load cms_tags %}

{% block base_content %}
	   <div class="container main-container">
      <div class="showcase">
        <ul class='slides'>
        	<li>
        		<img src='/static/images/showcase1.png' alt='showcase1'/>
        		<div class='showcase-title-block'>
        			<h2>У Витали лучшие унитазы</h2>
        			<div class='clear'></div>
        			берите даже не думайте
        		</div>
        	</li>
        </ul>
      </div>
      <!-- Example row of columns -->
       <div class="row-fluid">
	      <div class='main-content-header-wrapper'>
		      <div class='main-content-header'>
		      	<h2>Интернет-магазин сантехники</h2>
		      </div>
	      </div>
      </div>
      <div class="row-fluid main-content-block">
        <div class="span4 main-page-block">
        	<div class='main-page-block-icon'>
        		<img src='/static/images/service.png' alt=''/>
        	</div>
        	<div class='main-page-block-title'>
        		 <h2>Смесители</h2>
        	</div>
        	<div class='clear'></div>
        	<div class='main-content-block-text'>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </div>
        </div>
        <div class="span4 main-page-block">
        	<div class='main-page-block-icon'>
        		<img src='/static/images/service.png' alt=''/>
        	</div>
        	<div class='main-page-block-title'>
        		 <h2>Душевые стойки</h2>
        	</div>
        	<div class='clear'></div>
         	<div class='main-content-block-text'>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </div>
        </div>
        <div class="span4 main-page-block">
        	<div class='main-page-block-icon'>
        		<img src='/static/images/service.png' alt=''/>
        	</div>
        	<div class='main-page-block-title'>
        		 <h2>Комплектующие</h2>
        	</div>
        	<div class='clear'></div>
          <div class='main-content-block-text'>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </div>
        </div>
      </div>
 	<div class="row-fluid main-content-block">
        <div class="span4 main-page-block">
        	<div class='main-page-block-icon'>
        		<img src='/static/images/service.png' alt=''/>
        	</div>
        	<div class='main-page-block-title'>
        		 <h2>Дозаторы</h2>
        	</div>
        	<div class='clear'></div>
        	<div class='main-content-block-text'>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </div>
        </div>
        <div class="span4 main-page-block">
        	<div class='main-page-block-icon'>
        		<img src='/static/images/service.png' alt=''/>
        	</div>
        	<div class='main-page-block-title'>
        		 <h2>Стойки для душа</h2>
        	</div>
        	<div class='clear'></div>
        	<div class='main-content-block-text'>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </div>
        </div>
        <div class="span4 main-page-block">
        	<div class='main-page-block-icon'>
        		<img src='/static/images/service.png' alt=''/>
        	</div>
        	<div class='main-page-block-title'>
        		 <h2>Рукосушители</h2>
        	</div>
        	<div class='clear'></div>
        	<div class='main-content-block-text'>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </div>
        </div>
      </div>
  {% placeholder template_1_content %}
{% endblock %}
