{% extends "base.html" %}
{% load cms_tags %}

{% block base_content %}
	<div class="container main-container">
		<div class='header-wrapper'>
	 		<div class='header2'>
	  			Как заказать?
	  		</div>
  		</div>
  		<div class='content-wrapper'>
Уважаемые покупатели!

По техническим причинам корзина для покупок временно отсутствует на нашем сайте.

Чтобы заказать сантехнику Вы можете просто позвонить нам по телефону 8-495-665-93-85 в будние дни с 10 до 19 часов. Наши менеджеры примут заявку, проконсультируют по всем интересующим Вас вопросам, подробно расскажут о том, как получить и оплатить товар.

Также Вы можете отправить нам письмо на электронный адрес frap-ledeme@mail.ru. Укажите артикул, название,  количество и контактную информацию. Наш менеджер свяжется с Вами в кратчайшие сроки и подтвердит прием заказа.

Мы желаем Вам приятных покупок в нашем интернет-магазине!
		</div>
	</div>
{% endblock %}