{% extends "base.html" %}
{% load cms_tags %}

{% block base_content %}
  <div class="container main-container">
  	<div class='header2'>
  		Смесители однорычажные
  	</div>
  		<div class='catalog'>
	    	<div class='catalog-item'>
		        <div class='image-wrapper'>
			       	<div class='image-wrapper-inner'>
			       		<img src='/static/images/smesitel-frap-f1001.jpg' alt=''>
			       	</div>
		        </div>
		        <div class="catalog-item-description">
		        	<div class="catalog-item-title"><a href='./'>F8005</a></div>
		       	 	<div class="catalog-item-text">стойка для душа обычная, без шланга и лейки</div>
		        </div>
	    	</div>
	    	<div class='catalog-item'>
		        <div class='image-wrapper'>
			       	<div class='image-wrapper-inner'>
			       		<img src='/static/images/smesitel-frap-f1001.jpg' alt=''>
			       	</div>
		        </div>
		        <div class="catalog-item-description">
		        	<div class="catalog-item-title"><a href='./'>F8005</a></div>
		       	 	<div class="catalog-item-text">стойка для душа обычная, без шланга и лейки</div>
		        </div>
	    	</div>
	    	<div class='catalog-item'>
		        <div class='image-wrapper'>
			       	<div class='image-wrapper-inner'>
			       		<img src='/static/images/smesitel-frap-f1001.jpg' alt=''>
			       	</div>
		        </div>
		        <div class="catalog-item-description">
		        	<div class="catalog-item-title"><a href='./'>F8005</a></div>
		       	 	<div class="catalog-item-text">стойка для душа обычная, без шланга и лейки</div>
		        </div>
	    	</div>
	    </div>
	    <div class='clear'></div>
	    <div class='catalog'>
	    	<div class='catalog-item'>
		        <div class='image-wrapper'>
			       	<div class='image-wrapper-inner'>
			       		<img src='/static/images/smesitel-frap-f1001.jpg' alt=''>
			       	</div>
		        </div>
		        <div class="catalog-item-description">
		        	<div class="catalog-item-title"><a href='./'>F8005</a></div>
		       	 	<div class="catalog-item-text">стойка для душа обычная, без шланга и лейки</div>
		        </div>
	    	</div>
	    	<div class='catalog-item'>
		        <div class='image-wrapper'>
			       	<div class='image-wrapper-inner'>
			       		<img src='/static/images/smesitel-frap-f1001.jpg' alt=''>
			       	</div>
		        </div>
		        <div class="catalog-item-description">
		        	<div class="catalog-item-title"><a href='./'>F8005</a></div>
		       	 	<div class="catalog-item-text">стойка для душа обычная, без шланга и лейки</div>
		        </div>
	    	</div>
	    	<div class='catalog-item'>
		        <div class='image-wrapper'>
			       	<div class='image-wrapper-inner'>
			       		<img src='/static/images/smesitel-frap-f1001.jpg' alt=''>
			       	</div>
		        </div>
		        <div class="catalog-item-description">
		        	<div class="catalog-item-title"><a href='./'>F8005</a></div>
		       	 	<div class="catalog-item-text">стойка для душа обычная, без шланга и лейки</div>
		        </div>
	    	</div>
	    </div>
	</div>
{% endblock %}